<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4 fixed-bottom">

  <!-- Footer Elements -->
  <!-- Footer -->
  <footer class="page-footer font-small footer-dark pt-4">

    <!-- Footer Links -->
    <style>
      div{
        background-color: #4B4B4B;
      }
    </style>
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase" style="color:rgba(255,255,255,255.5) ">Footer Content</h5>
          <p style="color:rgba(255,255,255,255.5) ">Here you can use rows and columns to organize your footer content.</p>


        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">



      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->


  </footer>
  <!-- Footer -->
  <!-- Footer Elements -->
  <!-- Footer -->
  <footer class="page-footer font-small mdb-color  " >
<div>
    <!-- Footer Elements -->
    <div class="container">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-2 col-md-12 mb-4">

          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" class="img-fluid"
                 alt="">
            <a href="">
              <div class="mask rgba-white-light" ></div>
            </a>
          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4" >

          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(78).webp" class="img-fluid"
                 alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4">

          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(79).webp" class="img-fluid"
                 alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-2 col-md-12 mb-4">

          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(81).webp" class="img-fluid"
                 alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4">

          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(82).webp" class="img-fluid"
                 alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4" >

          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(84).webp" class="img-fluid"
                 alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color:rgba(255,255,255,255.5) ">© 2020 Copyright:
      <a href="/" style="color:rgba(90, 234, 221,255.5) "> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</div>

  </footer>
  <!-- Footer -->


</footer>
<!-- Footer -->
