

<html>
<section id="hero">
  <h1>ResFamily <br>Pensando en ti</h1>
  <form action="/actividades">
    <button>Ingresa Ya!</button>
  </form>

</section>

<section id="somos-proya">
  <div class="container">

    <div class="img-container"></div>
    <div class="texto">
      <h2>Somos <span class="color-acento">ResFamily</span></h2>
      <p>Una pagina enfocada plenamente en la organizacion y gestion de los datos de aquellos talleres
        que deseas programar. Fue elaborada por un grupo de estudiantes de la Universidad Peruana Union,
        especialmente para cubrir esas necesidades y reemplazar las hojas de papel y las
        tablas provisionales que solo perjudican tu trabajo.
      </p>
    </div>
  </div>
</section>

<section id="nuestros-programas">
  <div class="container">
    <h2>NUESTROS PROGRAMAS</h2>
    <div class="programas">


      <div class="carta">
        <h3>Mejorando cada dia el planeta</h3>
        <p>Una programación enfocada en la mejora de la conciencia social mediante actividades comunitarias, con respecto a nuestro medio ambiente y su cuidado</p>

      </div>

      <div class="carta">
        <h3>Problemas : como enfrentarlos?</h3>

        <p>Un programa dirigido por estudiantes de psicología, buscando contribuir a mejorar el estado de la sociedad considerando problemas actuales como el estres y la ansiedad</p>

      </div>
      <div class="carta">
        <h3> Afecciones mentales	</h3>
        <p>Una serie de talleres enfocados en jovenes y su salud mental. Ayuda dinamica mediante actividades al aire libre</p>

      </div>
    </div>
  </div>
</section>

<section id="caracteristicas">
  <div class="container">
    <ul>
      <h4>ResFamily  te brinda</h4>
      <li>&#128512;  100% practicidad</li>
      <li>&#128512;  Facilidad de herramientas</li>
      <li>&#128512;  Dinamismo</li>
      <li>&#128512;  Optimizacion de actividades</li>
    </ul>
  </div>
</section>

<section id="final">
  <h2>Crea tu primer programa </h2>
  <form action="actividades/programas">
  <button>AQUI</button>
  </form>
</section>
</html>


