

<html>
<section id="hero">
  <h1>ResFamily <br>Pensando en ti</h1>
  <form action="/actividades">
    <button>Ingresa YA</button>
  </form>

</section>

<section id="somos-proya">
  <div class="container">

    <div class="img-container"></div>
    <div class="texto">
      <h2>Somos <span class="color-acento">ResFamily</span></h2>
      <p>Far Cry es una serie de videojuegos
        de acción en primera persona creada por
        Crytek y distribuido por Ubisoft. El primer
        juego de la serie fue Far Cry, desarrollado
        en Alemania por Crytek y distribuido por Ubisoft
        en 2004 para Microsoft Windows
      </p>
    </div>
  </div>
</section>

<section id="nuestros-programas">
  <div class="container">
    <h2>NUESTROS PROGRAMAS</h2>
    <div class="programas">


      <div class="carta">
        <h3>Programador FRONTEND</h3>
        <p>Far Cry es una serie de videojuegos
          de acción en primera persona creada por
          Crytek y distribuido por Ubisoft. El primer
          juego de la serie fue Far Cry, desarrollado
          en Alemania por Crytek y distribuido por Ubisoft
          en 2004 para Microsoft Windows</p>
        <button>+ Info</button>
      </div>

      <div class="carta">
        <h3>PROGRAMADOR PITBULL</h3>

        <p>Far Cry es una serie de videojuegos
          de acción en primera persona creada por
          Crytek y distribuido por Ubisoft. El primer
          juego de la serie fue Far Cry, desarrollado
          en Alemania por Crytek y distribuido por Ubisoft
          en 2004 para Microsoft Windows</p>
        <button>+ Info</button>
      </div>
      <div class="carta">
        <h3>PROGRAMDORRR perraco</h3>
        <p>Far Cry es una serie de videojuegos
          de acción en primera persona creada por
          Crytek y distribuido por Ubisoft. El primer
          juego de la serie fue Far Cry, desarrollado
          en Alemania por Crytek y distribuido por Ubisoft
          en 2004 para Microsoft Windows</p>
        <button>+ Info</button>
      </div>
    </div>
  </div>
</section>

<section id="caracteristicas">
  <div class="container">
    <ul>
      <li>  100% online</li>
      <li>  Flexibilidad de horarios</li>
      <li>  Soporte 1:1</li>
      <li>  Asistencia financiera</li>
    </ul>
  </div>
</section>

<section id="final">
  <h2>Listo para los papus?</h2>
  <button>GOGOGO</button>
</section>
</html>


